

.filterBox{
    border: 1px solid red;
}


.sortBox{
    border: 1px solid green;
}

.title{
    color: gray;
    text-align: center;
    font-size: 80%;
}


.Sortbtn{
    padding: 3%;
    width: 90%;
    border-radius: 10px;
    margin: 2%;
    align-items: center;
}