

.ProductContainer{
    /* border: 1px solid red; */
   
    padding: 2%;
    padding-top: 0%;
    padding-bottom: 0%;
}

.productBox{
    /* border: 1px solid blue; */

    display: flex;
}


.filterBox{
    flex: 3;
    /* border: 1px solid blue; */
}

.mapBox{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
    flex: 8;
    gap: 10px;

    height: 800px;

    overflow: scroll;
}


.mapBox>div:hover{


    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
    border-radius: 20px;

}








@media (max-width:800px){



    .mapBox{
    
        display: grid;
        grid-template-columns: repeat(2,1fr);
       
        flex: 8;
        gap: 10px;
    
        height: 800px;
    
        overflow: scroll;
    }
    

    /* .filterBox{
        display: none;
    } */
   
    .productBox{
        /* border: 1px solid blue; */
    
        display: flex;
       flex-direction: column;
    }


}









